<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708661412640-ns404oktk4l1invtd0b1t4aarptqthas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708661412640-ns404oktk4l1invtd0b1t4aarptqthas</string>
	<key>API_KEY</key>
	<string>AIzaSyBxZagQn7nDsuebhBa7LSbxe6o6J45HAzk</string>
	<key>GCM_SENDER_ID</key>
	<string>708661412640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Save-A-Recipe</string>
	<key>PROJECT_ID</key>
	<string>save-a-recipe2</string>
	<key>STORAGE_BUCKET</key>
	<string>save-a-recipe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708661412640:ios:e6d4e27bd01f18dc7e8d45</string>
</dict>
</plist>